*{
    margin: 0;
    padding: 0;
}




.container{
    min-height: 50vh;
    width: 30vw;
    margin: 90px auto;
    border: 1px solid black;
}
ul li{
    list-style: none;
}
h1{
    padding: 10px;
}
.question{
    padding: 10px;
}
.options{
    padding: 10px;
}
.answer{
    margin: 10px;
    position: relative;
    top: 4px;

}
.btn{
    padding: 7px;
    margin: 20px;
}